Body{
    background-color: tan;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h1{
    text-align:center ;
    color:red;

}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: lightgreen; /* pick a color */
border-radius: 25%;
}